/*********************
GENERAL STYLES
*********************/

.site-container, .nav-container, #site-nav {
	width:$lg-width;
}


/*********************
SITE NAVIGATION
*********************/

.site-nav-links {
	//
	li {
		padding-left:47px;
	}
}

.tech-icons {
	left:203px;
}


.feature-list {
	margin:22px 0 0 0;
	padding:0;
	float:right;
	clear:right;
	//
	li {
		padding:12px 0 20px 40px;
		font-size:25px;
		width:390px;
	}
}