/*********************
GENERAL STYLES
*********************/

.site-container, .nav-container, #site-nav {
	width:$lg-width;
}


/*********************
SITE NAVIGATION
*********************/

.site-nav-links {
	//
	li {
		padding-left:47px;
	}
}

.tech-icons {
	left:203px;
}