//body background color
$body-background-color: #ddd;

//navigation background
$nav-background-color: #26abcc;

//font colors
$blue: #26abcc;

//medium breaking point
$md-width:768px;

//large breaking point
$lg-width:1024px;

//gutter for content
$md-padding: 55px;

//sm side padding
$sm-padding: 9%;

//top-padding
$top-padding: 63px;